<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
    <head>
        <title>Manage Books</title>
    </head>
    <body>
        <a href="/">Return Home</a>
        <h2 th:text="'Books Page'">Books Page</h2>
        <hr>
        <span th:if="${books != null && books.size() > 0}">
            <ol>
                <li th:each="book:${books}" th:inline="text">
                    <span th:text="'&quot;' + ${book.getName()} + '&quot;, ' + ${book.getAvailable()} + ' copies, ' + ${book.onLoan()} + ' on loan' + ${book.getUsersInLine()}"></span>
                    <a th:if="${book.purchased - book.available == 0}" th:href="@{/book/{bookId}(bookId = ${book.id})}" th:text="'Delete this Book'"></a>
                </li>
            </ol>
        </span>
        <span th:if="${books == null || books.size() == 0}">
            No Books Found
        </span>

    </body>
</html>
